<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bitpay.wallet">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.bitpay.wallet.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.bitpay.wallet.permission.C2D_MESSAGE" />

    <application
            android:name=".MainApplication"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:allowBackup="false"
            android:theme="@style/AppTheme"
            android:networkSecurityConfig="@xml/network_security_config">

        <receiver android:name=".CustomBroadcastReceiver" android:exported="false" >
            <intent-filter>
                <action android:name="com.braze.push.intent.NOTIFICATION_OPENED" />
                <action android:name="com.braze.push.intent.NOTIFICATION_RECEIVED" />
                <action android:name="com.braze.push.intent.NOTIFICATION_DELETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.braze.push.BrazeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Used by Dosh Android SDK -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="GOOGLE_MAPS_API_KEY_REPLACE_ME"/>

        <meta-data
                android:name="com.google.android.gms.wallet.api.enabled"
                android:value="true" />

        <meta-data
                android:name="com.google.android.gms.ads.AD_MANAGER_APP"
                android:value="true"/>

        <activity
                android:screenOrientation="portrait"
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
                android:exported="true"
                android:launchMode="singleTask"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="bitpay"/>
            </intent-filter>
            <intent-filter android:autoVerify="true" android:label="filter_react_native">
                <data android:host="link.bitpay.com" android:pathPattern="*" android:pathPrefix="/i/"
                    android:scheme="https"/>
                <data android:host="link.bitpay.com" android:pathPattern="*" android:pathPrefix="/wallet/wc"
                    android:scheme="https"/>
                <data android:host="link.test.bitpay.com" android:pathPattern="*" android:pathPrefix="/i/"
                    android:scheme="https"/>
                <data android:host="link.test.bitpay.com" android:pathPattern="*" android:pathPrefix="/wallet/wc"
                    android:scheme="https"/>
                <data android:host="link.staging.bitpay.com" android:pathPattern="*" android:pathPrefix="/i/"
                    android:scheme="https"/>
                <data android:host="link.staging.bitpay.com" android:pathPattern="*" android:pathPrefix="/wallet/wc"
                    android:scheme="https"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.zoontek.rnbootsplash.RNBootSplashActivity"
                android:theme="@style/BootTheme"
                android:launchMode="singleTask">
        </activity>
    </application>
</manifest>
