<ion-list *ngIf="history && history[0]" class="tx-history">
    <ion-item-group *ngFor="let group of groupedHistory; trackBy: trackByFn; let i = index;">

        <ion-item-divider (click)="viewOnBlockchain()" sticky class="tx-history-header">
            <span *ngIf="isDateInCurrentMonth(getDate(group[0].time))">{{ 'Recent' | translate }} </span>
            <span *ngIf="!isDateInCurrentMonth(getDate(group[0].time))">{{getDate(group[0].time) | amDateFormat:'MMMM'}}</span>
        </ion-item-divider>

        <div class="item-wrapper" *ngFor="let tx of group; trackBy: trackByFn; let i = index">

            <button ion-item (click)="itemTapped(tx)" [ngClass]="{'info-background': tx.isRBF && (tx.action === 'sent' || tx.action === 'moved'), 'warning-background': canSpeedUpTx(tx), 'danger-background': (tx.hasUnconfirmedInputs || tx.isRBF) && (tx.action === 'received' || tx.action === 'moved')}">
                <ion-icon class="item-img" item-start>
                    <div *ngIf="tx.confirmations <= 0">
                        <img src="assets/img/tx-action/icon-confirming.svg" width="40">
                    </div>
                    <div *ngIf="tx.confirmations > 0">
                <span *ngIf="(wallet?.coin === 'eth' || currencyProvider.isERCToken(wallet?.coin)) && tx.error; else noError">
                  <img src="assets/img/failed-icon.svg">
                </span>
                        <ng-template #noError>
                  <span *ngIf="tx.customData && tx.customData.service && tx.action == 'sent'">
                    <img class="icon-services" style="padding: 5px;" src="assets/img/wallet-connect/wallet-connect-grey.svg" *ngIf="tx.customData.service == 'walletConnect'" width="15">
                    <img class="icon-services" src="assets/img/shapeshift/icon-shapeshift.svg" *ngIf="tx.customData.service == 'shapeshift'" width="40">
                    <img class="icon-services" src="assets/img/exchange-crypto/changelly-icon.svg" *ngIf="tx.customData.service == 'changelly'" width="40">
                    <img class="icon-services" src="assets/img/exchange-crypto/1inch-icon.svg" *ngIf="tx.customData.service == 'oneInch'" width="40">
                    <img-loader class="icon-services" *ngIf="tx.customData.service === 'amazon'" src="{https://bitpay.com/gift-cards/assets/amazoncom/icon.svg}" width="40" fallbackUrl="assets/img/gift-cards/gift-cards-icon.svg"></img-loader>
                    <img-loader class="icon-services" *ngIf="tx.customData.service === 'mercadolibre'" src="https://bitpay.com/gift-cards/assets/mercadolivre/icon.svg" width="40" fallbackUrl="assets/img/gift-cards/gift-cards-icon.svg"></img-loader>
                    <img-loader class="icon-services" *ngIf="tx.customData.service === 'coinbase'" src="assets/img/coinbase/coinbase-icon.png" width="40" fallbackUrl="assets/img/gift-cards/gift-cards-icon.svg"></img-loader>
                    <ng-container *ngIf="supportedCards | async as cardConfig">
                      <img-loader class="icon-services" *ngIf="tx.customData.service === 'giftcards'" [src]="cardConfig[tx.customData.giftCardName]?.icon" width="40" fallbackUrl="assets/img/gift-cards/gift-cards-icon.svg"></img-loader>
                    </ng-container>
                    <img class="icon-services" src="assets/img/bitpay-card/icon-bitpay.svg" *ngIf="tx.customData.service == 'debitcard'" width="40">
                  </span>


                            <span *ngIf="tx.customData && tx.customData.toWalletName && !tx.customData.service">
                    <img class="icon-services" src="assets/img/icon-wallet-reverse.svg" *ngIf="tx.action == 'sent'" width="40">
                  </span>

                            <span *ngIf="!tx.customData || (tx.customData && !tx.customData.service && !tx.customData.toWalletName)">
                    <img src="assets/img/tx-action/icon-sent.svg" *ngIf="tx.action == 'sent'" width="40">
                  </span>

                            <span>
                    <img src="assets/img/tx-action/icon-received.svg" *ngIf="tx.action == 'received'" width="40">
                    <img src="assets/img/tx-action/icon-moved.svg" *ngIf="tx.action == 'moved'" width="40">
                  </span>
                        </ng-template>
                    </div>
                </ion-icon>



                <div class="action" *ngIf="tx.confirmations <= 0 && !(tx.amount === 0 && wallet?.coin === 'eth')">
              <span *ngIf="(tx.action == 'sent') && !(addressbook && tx.outputs[0] && getContactName(tx.outputs[0].address))">{{'Sending'
                    | translate}}
              </span>
                    <span *ngIf="(tx.action == 'moved') && !(addressbook && tx.outputs[0] && getContactName(tx.outputs[0].address))">{{'Moving'
                    | translate}}</span>
                    <span *ngIf="(tx.action == 'sent' || tx.action == 'moved') && (addressbook && tx.outputs[0] && getContactName(tx.outputs[0].address))">{{getContactName(tx.outputs[0].address)}}</span>
                    <span *ngIf="tx.action == 'received'">{{'Receiving' | translate}}</span>
                </div>








                <div class="action" *ngIf="tx.confirmations > 0 && tx.action == 'received'">
              <span *ngIf="(!tx.note || (tx.note && !tx.note.body)) && (!addressbook || !tx.outputs[0] || !getContactName(tx.outputs[0].address))">{{'Received'
                    | translate}}</span>
                    <span *ngIf="tx.note && tx.note.body != ''">{{tx.note.body}}</span>
                    <span *ngIf="(!tx.note || (tx.note && !tx.note.body)) && addressbook && tx.outputs[0] && getContactName(tx.outputs[0].address)">
                {{getContactName(tx.outputs[0].address)}}
              </span>
                </div>




                <div class="action" *ngIf="tx.confirmations > 0 && tx.action == 'sent' && !(tx.amount === 0 && wallet?.coin === 'eth')">
                    <span *ngIf="(tx.message && (tx.note && !tx.note.body)) && (!addressbook || !tx.outputs[0] || !getContactName(tx.outputs[0].address)) && (!tx.customData || !tx.customData.toWalletName)" translate>Sent</span>


                    <span *ngIf="!tx.message && (!tx.note || (tx.note && !tx.note.body)) && (!addressbook || !tx.outputs[0] || !getContactName(tx.outputs[0].address)) && (!tx.customData || !tx.customData.toWalletName)">{{'Sent'
                    | translate}}</span>
                    <span *ngIf="!tx.message && (!tx.note || (tx.note && !tx.note.body)) && (!addressbook || !tx.outputs[0] || !getContactName(tx.outputs[0].address)) && (tx.customData && tx.customData.toWalletName)">
                {{ 'Sent to {walletName}' | translate: {walletName: tx.customData.toWalletName} }}
              </span>
                    <span *ngIf="!tx.note && tx.message">{{tx.message}}</span>
                    <span *ngIf="tx.note && tx.note.body != ''">{{tx.note.body}}</span>
                    <span *ngIf="!tx.message && addressbook && tx.outputs[0] && getContactName(tx.outputs[0].address)">
                {{getContactName(tx.outputs[0].address)}}
              </span>
                </div>








                <div class="action" *ngIf="tx.amount === 0 && wallet?.coin === 'eth'">
                    <span>{{'Interaction with contract' | translate}}</span>
                </div>



                <div class="action" *ngIf="tx.confirmations > 0 && tx.action == 'moved'">
                    <span *ngIf="(tx.message && (tx.note && !tx.note.body))" translate>Sent to self</span>
                    <span *ngIf="((!tx.note || (tx.note && !tx.note.body)) && !tx.message)" translate>Sent to self</span>
                    <span *ngIf="!tx.note && tx.message">{{tx.message}}</span>
                    <span *ngIf="tx.note && tx.note.body != ''">{{tx.note.body}}</span>
                </div>

                <div class="action" *ngIf="tx.confirmations > 0 && tx.action == 'invalid'">
                    <span class="assertive" *ngIf="!tx.message && !tx.note" translate>Invalid</span>
                </div>

                <ion-note item-end text-end>
                    <div class="amount">
                <span [ngClass]="{'received': tx.action == 'received'}" *ngIf="tx.action != 'invalid' && !(tx.amount === 0 && wallet?.coin === 'eth')">{{tx.amount |
                      satToUnit: wallet?.coin}}</span>
                        <span *ngIf="tx.amount === 0 && wallet?.coin === 'eth'">{{tx.fees | satToUnit: wallet?.coin}}</span>
                        <span class="double-spend" *ngIf="tx.action == 'invalid'" translate>(possible double spend)</span>
                    </div>


                    <div class="date">
                        <span *ngIf="tx.time && createdWithinPastDay(tx.time * 1000)">{{tx.time * 1000 | amTimeAgo}}</span>
                        <span *ngIf="tx.time && !createdWithinPastDay(tx.time * 1000)">{{tx.time * 1000 | amDateFormat:'MMM
                      D, YYYY'}}</span>
                    </div>
                </ion-note>
            </button>
        </div>
    </ion-item-group>
</ion-list>